<div class="panel panel-area store-cart ">
  <h3 class="text-center">Checkout</h3>
  <h3 class="cart-checkout">
    <!--TTL {{view.CartService.getCartTotal()}}-->
    <form ng-hide="view.CartService.cartBasket.length === 0 || view.CartService.getCartTotal() === 0"
          action=""
          method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{view.stripe_publish_key}}"
        data-amount="{{(view.CartService.getCartTotal()*100)}}"
        data-name="WillCallTickets, Inc"
        data-zip-code="false"
        data-label="Buy Securely With Stripe!"
        data-description="{{view.CartService.cartId}}"
        data-image="/images/wct_logo_200.png"
        data-locale="auto">
      </script>
      <input type="hidden"
             name="f_amount"
             id="f_amount"
             value="{{(view.CartService.getCartTotal()*100)}}"/>
      <input type="hidden"
             name="f_cartid"
             id="f_cartid"
             value="{{view.CartService.cartId}}"/>
    </form>
    
    <div class="cart-summary">
      <span>
        <small>
          <ng-pluralize
            count="view.CartService.itemsInCartTotal()"
            when="{'1': '{} item',
                  'other': '{} items'}">
          </ng-pluralize>
        </small>
      </span>
      <span class="pull-right">
        <small>
          <strong>
            {{view.CartService.getCartTotal() | currency}}
          </strong>
        </small>
      </span>
    </div>
  </h3>
  
  <div class="col-xs-12 btn-clr{{($index%8)}}"
       style="cart-item"
       ng-repeat="itm in view.CartService.cartBasket">
    <div class="col-xs-2 no-padding">
      {{itm.qty}} @
    </div>
    <div class="col-xs-7">
      <h5 class="no-margin">{{itm.mainDesc}}</h5>
      <div ng-repeat="desc in itm.secondaryDesc"
           class="cart-item-description">
        {{desc}}
      </div>
    </div>
    <div class="col-xs-3 text-right no-padding">
      {{itm.lineItemTotal() | number:2 }}&nbsp;
    </div>
  </div>
</div>
