<div class="panel panel-area item-catalog show-catalog">
  <table class="table table-bordered table-striped table-condensed table-listing">
    <theader>
      <tr>
        <th>products</th>
        <th>skus</th>
      </tr>
    </theader>
    
    <tbody>
    <tr class="catalog-item show-catalog"
        ng-repeat="product in view.productCatalog">
      <td class="catalog-cell">
        <div class="catalog-product-container">
          <span ng-if="product.status==='sold out'"
                class="soldout-showdate soldout-product">
            <!--TODO include other statii - {{showdate.status}}-->
            <img ng-src="/images/soldout.png" />
          </span>
          <div class="product-division">
            <button class="width-150 text-left" disabled>
              <span class="glyphicon glyphicon-tag"></span>
                {{product.division}}
            </button>
          </div>
          <h3>{{product.name}}</h3>
          <h6>{{product.description}}</h6>
        </div>
      </td>
      <td class="sku-cell">
        <div class="width-225 catalog-ticket-container btn-clr{{$index}}"
             ng-repeat="productsku in product.productskus">
          <div style="white-space: nowrap">{{productsku.name}}</div>
          <div style="position:relative">
            <div class="col-xs-4 no-lr-pad">
              <h3 class="tkt-price">{{productsku.price | currency}}</h3>
            </div>
            <div class="col-xs-8 no-lr-pad text-right">
              <button type="button"
                      class="btn-add-cart"
                      ng-click="view.CartService.addProductToCart(productsku)">
                <span class="glyphicon glyphicon-plus"></span>
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
